@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

.noise-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  opacity: 0.1;
  z-index: 1;
}
